body {
  background-color: aqua;
}
header {
  /* height: 10%; */
  /* width: 80%; */
  border: 2px solid red;
  margin: 0 auto;
  /* padding: 40px; */
}
.header-h1 {
  font-size: 80px;
  color: rgb(37, 10, 161);
  text-align: center;
}
